<!-- Creating a Homepage
    Usually the homepage is called as index.html -->

<!-- Every html document should start with this below <!DOCTYPE html> -->
<!DOCTYPE html>
<html lang="en">    <!-- set up the language as english -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <title>Blog Posts</title>    <!-- Added a title for the website -->
    </head>
    <body>
        <div class="container">
        {% for post in post_list %}    <!-- Created a FOR LOOP -->
            <div class="card m-3">    <!-- This puts each blog inside of a box with 3px margin gap -->
                <div class="card-body">    <!-- Making a body for each blog -->
                    <h2 class="card-title">    <!-- Giving title to each of the blogs -->
                        {{post.title}}
                    </h2>
                    <p class="card-text">   <!-- Giving content to each of the blogs -->
                        {{post.content}}
                    </p>
                    <p class="card-text">
                        Author: {{post.author}}    <!-- Adding the author's name inside the card -->
                    </p>
                    <a class="btn btn-primary" href="{% url 'blog_view' post.slug %}">Read More</a>
                    <!-- To make the title a clickable link, <h2> tag should be replaced by <a> tag.
                        And these <a> tags should come as a value of href property
                        Inside of the "", "localhost:8000/{{post.slug}}" can be written.
                        However, this is not ideal, because local host will be changed to sth else when the app is deployed.
                        Best way will be using a url tag like above (url '' post.slug). This makes url the keyword.
                        Inside of the '' goes the url of that current post that is being iterated in the loop, which we can get from urls.py
                        
                        To turn the clickable link to a clickable BUTTON: class="btn btn-primary" -->
                </div>
            </div>
        {% endfor %}    <!-- Ended the FOR LOOP -->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
</html>

<!-- post_list is a view which it needs to be defined in views.py
    and the class name has to be in the same format with the one inside the for loop -->

<!-- USING BOOTSTRAP to make the blog website LOOK BETTER. Most of them were taken from getbootstrap.com as drafts -->